.mat-toolbar {
    text-align: center;
}

.example-container {
    display: flex;
    flex-direction: column;
}

.example-header {
    min-height: 64px;
    display: flex;
    align-items: baseline;
    padding: 8px 24px 0;
    font-size: 20px;
    justify-content: space-between;
}

.example-form {
    margin: 0 auto;
    min-width: 150px;
    width: 95%;
}

.example-full-width {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    flex-grow: 1;
}

.mat-table {
    overflow: auto;
    max-height: 500px;
}